* {
    padding: 0;
    margin: 0;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #2c2c2c;

}

h1 {
    margin-bottom: 0.5rem;
}

.mobile-menu-icon {
    position:absolute;
    left:25px;
    top:25px;
    z-index: 10;
    display: none;
}
.mm-line {
    width: 30px;
    height: 4px;
    background-color: #2c2c2c;
    margin: 5px 0;
    border-radius: 2px;
}

.side-nav {
    position: fixed; /*locks nav bar*/
    top: 0;
    width: 22.5vw;
    height: 100vh;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #C4C4C4;
    z-index: 2;
}
/*Logo section at top of nav*/
.logo-wrap {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-icon {
    height: 2.5rem;
    width: 2.5rem;
    background-color: white;
    border-radius: 50%;
}
.logo-text {
    margin-top: 5%;
}

/*top level navigation items */

.nav-list-wrap {
    width: 100%;
    margin-left: 5%;
}

.nav-item-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5rem;
}

.nav-item-icon {
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    border-radius:20%;
}

.nav-item-text {
    margin-left: 1rem;
    font-size: 0.8rem;
}
.user-area {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 80px;
    width: 77.5vw;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 100%);
    z-index: 1;
}

.search-bar {
    margin: 1rem 4rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #2c2c2c;
    width: 50vw;

}
.user-info-wrap {
    position: fixed;
    top: 25px;
    right: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}    
    
.user-icon {
    height: 2rem;
    width: 2rem;
    background-color: #C4C4C4;
    border-radius: 50%;
    margin-right: 0.75rem;
}
.user-info-arrow {
    height: 1rem;
    width: 1.35rem;
    background-size: contain;
    background-image: url("/images/down-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
}

main {
    width: 66vw;
    float: right;
    display: flex;
    flex-direction: column;
    margin: 10% 5%;
}
.title-wrap {
    margin: 2rem 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
}

label {
    margin: 2rem 0 0.5rem;
    font-weight: 700;
}

input, textarea, select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    background-color: #F7F7F7;
}

input[type=submit] {
    margin-top: 2rem;
    background-color: #2c2c2c;
    color: #ffffff;
}

input[type=file] {
    padding: 0;
}

.form-item-stack {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#main_img {
    background-color: white;
}
#banner_img {
    background-color: white;
}
